<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>p2pchat</title>
    <link rel="stylesheet" href="/navbar.css">
  </head>

  <body>
    <h1>Register</h1>

    <form action="/register" method="POST">
    Username: <input type="text" placeholder="username" name="username" />
    Password: <input type="text" placeholder="password" name="password" />
      <button type="submit">Register</button>
    </form>


    <h2> Login </h2>
    <form action="/login" method="POST">
        Username: <input type="text" placeholder="username" name="username" />
        Password: <input type="text" placeholder="password" name="password" />
        <button id="login-button"type="submit">Login</button>
    </form>
    
    

    <!-- <div>
        <h2>Updating quotes!</h2>
        <p>Replace first quote!</p>
        <button id="update-button">Replace first quote</button>
    </div>

    <div>
        <h2>Remove Darth Vadar</h2>
        <p>Delete Darth Vadar quote. Does nothing if there are no more Darth Vadar quotes</p>
        <button id="delete-button">Delete Darth Vadar's quote</button>
    </div> -->

    <!-- <div id="message"></div> -->


    <!-- <script src="/main.js"></script> -->

  </body>
</html>